In [1]:
db=[{'abc@example.com':'abc'},{'xyz@example.com':'123'}]

In [2]:
print(db)

[{'abc@example.com': 'abc'}, {'xyz@example.com': '123'}]

In [3]:
username=input("enter username")
password=input("enter password")
temp={username:password}
if temp in db:
    print("found")
else:
    print("not found")

enter usernameabc@example.com
enter passwordabc
found

In [5]:
l=[]
for i in range(2):
    d={}
    print("enter username and password")
    a1=input()
    a2=input()
    d["key1"]=a1
    d['key2']=a2
    l.append(d)
print(l)

enter username and password
viraj 123
viraj 1223
enter username and password
qss
ss
[{'key1': 'viraj 123', 'key2': 'viraj 1223'}, {'key1': 'qss', 'key2': 'ss'}]

In [6]:
print(a1)

qss

In [18]:
rw=3
cl=3
arr1=[]
arr2=[]
for i in range(rw):
    ele1=[]
    for j in range(cl):
        ele=int(input())
        ele1.append(ele)
    arr1.append(ele1)
for i in range(rw):
    ele2=[]
    for j in range(cl):
        ele3=int(input())
        ele2.append(ele3)
    arr2.append(ele2)
print(arr1)
print(arr2)
arr3=[]
for i in range(rw):
    add1=[]
    for j in range(cl):
        add=arr1[i][j]+arr2[i][j]
        add1.append(add)
    arr3.append(add1)
print(arr3)

1
1
1
2
2
2
3
3
3
4
4
4
5
5
5
6
6
6
[[1, 1, 1], [2, 2, 2], [3, 3, 3]]
[[4, 4, 4], [5, 5, 5], [6, 6, 6]]
[[5, 5, 5], [7, 7, 7], [9, 9, 9]]

In [25]:
rw=3
cl=3
arr1=[]
arr2=[]
for i in range(rw):
    ele1=[]
    for j in range(cl):
        ele=int(input())
        ele1.append(ele)
    arr1.append(ele1)
for i in range(rw):
    ele2=[]
    for j in range(cl):
        ele3=int(input())
        ele2.append(ele3)
    arr2.append(ele2)
res=[[0 for i in range(cl)] for j in range(rw)]
for i in range(cl):
    for j in range(rw):
        res[i][j]=arr1[i][j]+arr2[i][j]
print(res)

1
1
1
2
2
2
3
3
3
4
4
4
5
5
5
6
6
6
[[5, 5, 5], [7, 7, 7], [9, 9, 9]]

In [41]:
rw=3
cl=4
a=input().split( )
for i in range(rw):
    a=input().split( )
    arr1=list(map(int,a))
arr1

1 2 3 4
1 2
2 2 2
22

[22]

In [51]:
a=0
b=1
c=1
print(a)
print(b)
for i in range(23):
    c=a+b
    a=b
    b=c
    print(c)

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
10946
17711
28657
46368

In [63]:
s="heLlo world"
res=s.split(' ')
print(res)

['heLlo', 'world']

In [64]:
print('-'.join(res))

heLlo-world

In [65]:
s.capitalize()

'Hello world'

In [66]:
s.title()

'Hello World'

In [67]:
s.upper()

'HELLO WORLD'

In [68]:
s.lower()

'hello world'

In [69]:
s.swapcase()

'HElLO WORLD'

In [85]:
num=3.14
print("The sq of {} is {:.2f}".format(num,num*num))

The sq of 3.14 is 9.86

In [87]:
num=3.14
print(f"The sq of {num} is {num*num}")

The sq of 3.14 is 9.8596

In [92]:
try:
    a=int(input())
    b=int(input())
    print(a/b)
except ZeroDivisionError:
    print("b lo zero ichav ra haule")

10
0
b lo zero ichav ra haule

In [100]:
print("operation select chesuko")
print("1.+ 2.- 3.* 4./")
a=int(input())
if a==1:
    b=int(input())
    c=int(input())
    print(b+c)
if a==2:
    b=int(input())
    c=int(input())
    print(b-c)
if a==3:
    b=int(input())
    c=int(input())
    print(b*c)
if a==4:
    try:
        b=int(input())
        c=int(input())
        print(b/c)
    except:
        print("denominator lo zero ichav bro")
if a>4 or a<=0:
    print("ichina options lo select chesuko bro")

operation select chesuko
1.+ 2.- 3.* 4./
-111
ichina options lo select chesuko bro

In [111]:
try:
    b=[]
    for i in range(5):
        a=int(input())
        b.append(a)
    print(b)
except:
    print("integers ivvu bro")

1
2
2
3
3
[1, 2, 2, 3, 3]

In [114]:
print(eval("1+3/5*9"))

6.3999999999999995

In [120]:
def add(a,b):
    return a+b

In [121]:
add(5,6)

11

In [182]:
def isprime(a):
    if a==1:
        return False
    for i in range(2,a):
        if a%i==0:
            return False
    else:
        return True

In [176]:
isprime(10)

False

# method 1
for i in range(1,num+1)
#2
for i in range(2,num)
#3
for i in range(2,num//2)
#4
for i in range(2,(num**0.5)+1)

In [186]:
isprime(1)

True

In [187]:
def show(a,b,c,d):
    print(a,b,c,d)

In [188]:
show(10,20,30,40)

10 20 30 40

In [193]:
show(b=20,c=30,a=10,d=40)

10 20 30 40

In [11]:
def sumd(*a):
     print(sum(list(a)))

In [13]:
sumd(10,2)

12

In [14]:
lis=[10,20,30]

In [15]:
sum(lis)

60

In [16]:
def adaa(*a):
    return sum(a)

In [17]:
adaa(10,11,11)

32

In [18]:
def check(n):
    print(n)
    if n>0:
        check(n-1)

In [19]:
check(10)

10
9
8
7
6
5
4
3
2
1
0